.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;
    background-color: rgb(235, 133, 133);
  }

  .btn-save {
    display: none;
  }

  .btn-cancel {
    display: none;
  }
  .saveInput {
    display: none;
  }